@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        
    }
    .promo {
        &__title {
            width: 400px;
            font-size: 36px;
            line-height: 50px;
        }
    }
    .about {
        
        &__container {
            grid-template-columns: 400px 540px;
            column-gap: 20px;
        }
        &__wrapper {
            margin-right: 0;
        }
        &__skills {
            column-gap: 20px;
        }
    }
    .resume {
        &__wrapper {
            column-gap: 80px;
            padding: 60px 50px 0 50px;
        }
    }
    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        padding-top: 40px;
        &__container {
            grid-template-columns: repeat(2, 350px);
        }
        &__skills {
            grid-template: repeat(3, 1fr) / 1fr;
        }
        &__items {
            grid-template-columns: 40px 1fr;
            grid-template-rows: minmax(90px, auto);
        }
        &__title {
            font-size: 24px;
        }
     }
     .resume {
        padding-top: 40px;
        &__wrapper {
            column-gap: 50px;
            padding: 60px 10px 0 10px;
            grid-template-columns: repeat(2, 325px);
        }
        &__items {
            ul {
                &:before {
                    height: 400px;
                }
            }
        }
        .title__section-title {
            font-size: 24px;
        }
     }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .about {
        padding-bottom: 0;
        &__container {
            display: block;
            width: 100%;
        }
        &__photo {
            margin-bottom: 40px;
        }
        &__title {
            margin: 20px 0 10px 0;
        }
        &__items {
            grid-template-rows: minmax(60px, auto);
        }
    }
    .resume {
        .title__section-title {
            padding: 20px 0 15px 0;
        }
        &__wrapper {
            padding-top: 40px;
            display: block;
        }
        &__items {
            padding-left: 43px;
           /// padding-bottom: 40px;
            ul {
                &:before {
                    height: 260px;
                }
            }
        }
        &__item {
            margin-top: 10px;
            &:before {
                left: -50px;
                width: 50px;
            }
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .hamburger {
        right: 20px;
    }
    
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/Background.jpg') no-repeat 57% / cover;
        &__title {
            width: 300px;
            font-size: 26px;
            font-weight: 39px;
            margin-bottom: 32px;
        }
        
    }
    .about {
        &__skills {
            margin-right: 40px;
        }
        &__items {
            column-gap: 24px;
        }
    }
    .resume {
        &__header {
            grid-template-columns: 40px 190px;
        }
        &__items {
            &_title {
                margin-bottom: 35px;
            }
            ul {
                &:before {
                    height: 400px;
                }
            }
       }
    }
}